<section id="skills" class="section">
  <h3 class="page-title white-text teal">
    Contact
  </h3>
  <div class="container">
      <p>
        <a aria-label="Email Anjana" href="mailto:ajgihan@gmail.com" data-position="top" data-tooltip="Email Anjana" class="btn-floating btn-large waves-effect waves-light brown tooltipped">
          <i class="ti-email"></i>
        </a>
        <a alt="" href="mailto:ajgihan@gmail.com" class="hoverline">
          ajgihan@gmail.com
        </a>
      </p>
      <p>
        <a aria-label="View Anjana on GitHub" href=" https://github.com/darkslayer92" target="_blank" data-position="top" data-tooltip="View Anjana on GitHub" class="btn-floating btn-large waves-effect waves-light brown tooltipped">
          <i class="ti-github"></i>
        </a>
        <a alt="" href=" https://github.com/darkslayer92" class="hoverline">
          https://github.com/darkslayer92
        </a>
      </p>
      <p>
        <a aria-label="View Anjana on LinkedIn" href="https://linkedin.com/in/ajgihan/" target="_blank" data-position="top" data-tooltip="View Anjana on LinkedIn" class="btn-floating btn-large waves-effect waves-light brown tooltipped">
          <i class="ti-linkedin"></i>
        </a>
        <a alt="" href="https://linkedin.com/in/ajgihan/" class="hoverline">
          https://linkedin.com/in/ajgihan/
        </a>
      </p>
      <p>
        <a aria-label="View Anjana on skype" href="#" target="_blank" data-position="top" data-tooltip="View Anjana on skype" class="btn-floating btn-large waves-effect waves-light brown tooltipped">
          <i class="ti-skype"></i>
        </a>
        <a alt="" href="#" class="hoverline">
          live:ajgihan
        </a>
      </p>
      <p>
        <a aria-label="View Anjana on Mobile" href="#" target="_blank" data-position="top" data-tooltip="View Anjana on Mobile" class="btn-floating btn-large waves-effect waves-light brown tooltipped">
          <i class="ti-mobile"></i>
        </a>
        <a alt="" href="#" class="hoverline">
          +94-(77)-(0058)-(705)
        </a>
      </p>
    
    </div>
</section>
