<section id="skills" class="section">
  <h3 class="page-title white-text teal">
    Contact
  </h3>
  <div class="container">
      <p>
        <a aria-label="Email Andrew" href="mailto:andrew@andrewborstein.com" data-position="top" data-tooltip="Email Andrew" class="btn-floating btn-large waves-effect waves-light brown tooltipped">
          <i class="ti-email"></i>
        </a>
        <a alt="" href="mailto:andrew@andrewborstein.com" class="hoverline">
          andrew@andrewborstein.com
        </a>
      </p>
      <p>
        <a aria-label="View Andrew on GitHub" href="http://github.com/andrewborstein" target="_blank" data-position="top" data-tooltip="View Andrew on GitHub" class="btn-floating btn-large waves-effect waves-light brown tooltipped">
          <i class="ti-github"></i>
        </a>
        <a alt="" href="http://github.com/andrewborstein" class="hoverline">
          github.com/andrewborstein
        </a>
      </p>
      <p>
        <a aria-label="View Andrew on LinkedIn" href="http://linkedin.com/in/andrewborstein" target="_blank" data-position="top" data-tooltip="View Andrew on LinkedIn" class="btn-floating btn-large waves-effect waves-light brown tooltipped">
        <i class="ti-linkedin"></i>
      </a>
      <a alt="" href="http://linkedin.com/in/andrewborstein" class="hoverline">
        linkedin.com/in/andrewborstein
      </a>
    </p>
    </div>
</section>
