<section id="awards" class="section">
  <h3 class="page-title white-text teal">
    Awards
  </h3>
  <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-content">
              <p><span class="card-title"><a href="http://startupinstitute.com" target="_blank" class="teal-text hoverline">Student Choice Award</a></span></p>
              <p class="brown-text">Startup Institute - Full Time Web Development | April 2017</p>
              <ul>
                <li>Awarded by students in the Full-Time Web Development track to one instructor as recognition for "outstanding teaching, listening, mentoring."</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-content">
              <p><span class="card-title"><a href="https://wespire.com" target="_blank" class="teal-text hoverline">Inspired By You Award</a></span></p>
              <p class="brown-text">WeSpire | June 2016</p>
              <ul>
                <li>Quarterly award given to a team member who exemplifies WeSpire's purpose, vision, and values, goes above and beyond in their role to make a particularly positive impact on the company.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-content">
              <p><span class="card-title"><a href="http://startupinstitute.com" target="_blank" class="teal-text hoverline">Owl Award</a></span></p>
              <p class="brown-text">Startup Institute | April 2016</p>
              <ul>
                <li>Given to an alumnus who "continually gives back to the Startup Institute community with true humility, despite everyone knowing how awesome he is."</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-content">
              <p><span class="card-title"><a href="http://www.rhdri.org" class="teal-text hoverline">Honorable Mention</a></span></p>
              <p class="brown-text">West Philly Homebrew Competition | May 2013</p>
              <ul>
                <li>Neightborhood beer enthusiasts voted on their favorite local home-brewed beer. “Goldilocks" won in the "People's Choice" category.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-content">
              <p><span class="card-title"><a href="https://www.sas.upenn.edu/news/congratulations-our-dean%E2%80%99s-scholars" target="_blank" class="teal-text hoverline">Dean's Scholar</a></span></p>
              <p class="brown-text">University of Pennsylvania | April 2013</p>
              <ul>
                <li>One of only 20 students in the School of Arts &amp; Sciences nominated by faculty for "outstanding academic achievement and intellectual promise."</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-content">
              <p><span class="card-title"><a href="http://www.rhdri.org" class="teal-text hoverline">Employee of the Year</a></span></p>
              <p class="brown-text">RHD-RI | Aug 2011</p>
              <ul>
                <li>Nominated by management and coworkers for exceptional work ethic and dedication to clients.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-content">
              <p><span class="card-title"><a href="http://upenn.edu" class="teal-text hoverline">Most Valuable Staff</a></span></p>
              <p class="brown-text">RHD-RI | Dec 2010</p>
              <ul>
                <li>Awarded to the staff that went above in beyond in preparation, effort, and sales at the Winter Art show.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
