@import "../../styles/variables";

$background-img: 'https://scontent.fcmb2-1.fna.fbcdn.net/v/t1.0-9/12512712_1208312792530184_1296456756391765596_n.jpg?_nc_cat=104&_nc_ht=scontent.fcmb2-1.fna&oh=9280fd7d4fdeeaf513a78f032d5c26dd&oe=5CBA349D';

.section {
  background: url($background-img);
  position: relative;
  min-height: calc(100vh - 62px);

  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .container {
    color: white;
    font-weight: 200;
    left: 0;
    position: absolute;
    top: 0;

    .teal {
      background-color: $teal !important;
    }

    .underline {
      border-bottom: 5px solid #009688;
    }
  }

  &.container *:not(span) {
    font-weight: 300;
    line-height: 150%;
    padding: 0 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
}
