<div class="card medium">
  <div class="card-image waves-effect waves-block waves-light">
    <img [alt]="webapp.ProjectName" [src]="'assets/projects/' + webapp.Image" class="activator">
  </div>
  <div class="card-content">
    <span class="card-title activator teal-text hoverline">
      {{webapp.ProjectName}}
      <i class="ti-menu" (click)="isOpenSlide = !isOpenSlide"></i>
    </span>
    <p [innerText]="webapp.Description">Blogging web app created for the Engineering team at WeSpire.</p>
  </div>
  <div class="card-reveal" [ngClass]="{'slideup': isOpenSlide}">
    <span class="card-title brown-text">
      About
      <i class="ti-arrow-circle-down float-right mt-1" (click)="isOpenSlide = false"></i>
    </span>
    <ul>
      <li *ngFor="let about of webapp.About" [innerHTML]="about.Description"><strong>Ruby on Rails</strong> backend</li>
    </ul>
    <div class="card-action">
      <a aria-label="Visit Code Island website" [href]="webapp.Github" target="_blank"
        data-position="top" data-tooltip="View Online" class="btn-floating btn-large waves-effect waves-light brown tooltipped"
        *ngIf="webapp.Github != ''">
          <i class="ti-github"></i>
      </a>
      <a aria-label="Visit the GitHub repo for Code Island project" [href]="webapp.ProjectURL"
        target="_blank" data-position="top" data-tooltip="View Source" class="btn-floating btn-large waves-effect waves-light brown tooltipped"
        *ngIf="webapp.ProjectURL != ''">
        <i class="ti-new-window"></i>
      </a>
    </div>
  </div>
</div>
