<section id="skills" class="section">
  <h3 class="page-title white-text teal">
    Skills & Offer
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-content">
            <h4 class="brown-text light">Web Development Stack</h4>
            <div class="d-flex flex-row flex-wrap text-center">
              <div class="flex-box"><img alt="" src="https://andrewborstein.com/static/img/html5.png" class="responsive-img">HTML5</div>
              <div class="flex-box"><img alt="" src="https://andrewborstein.com/static/img/javascript.png" class="responsive-img">Javascript</div>
              <div class="flex-box"><img alt="" src="https://andrewborstein.com/static/img/css3.png" class="responsive-img">CSS3</div>
              <div class="flex-box"><img alt="" src="https://pbs.twimg.com/profile_images/743155381661143040/bynNY5dJ_400x400.jpg"
                  class="responsive-img">Typescript</div>
              <div class="flex-box"><img alt="" src="https://andrewborstein.com/static/img/sass.png" class="responsive-img">SASS</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <h4 class="brown-text light">Web Development Frameworks & Libraries</h4>
            <div class="d-flex flex-row flex-wrap text-center">
                <div class="flex-box"><img alt="" src="https://andrewborstein.com/static/img/jquery.png" class="responsive-img">Jquery</div>
                <div class="flex-box"><img alt="" src="https://andrewborstein.com/static/img/angular.png" class="responsive-img">AngularJS</div>
                <div class="flex-box"><img alt="" src="https://angular.io/assets/images/logos/angular/angular.svg" class="responsive-img">Angular</div>
                <div class="flex-box"><img alt="" src="https://vuejs.org/images/logo.png" class="responsive-img">Vuejs</div>
                <div class="flex-box"><img alt="" src="https://andrewborstein.com/static/img/bootstrap.png" class="responsive-img">Bootstrap</div>
                <div class="flex-box"><img alt="" src="https://andrewborstein.com/static/img/materialize.png" class="responsive-img">Materialize</div>
                <div class="flex-box"><img alt="" src="https://andrewborstein.com/static/img/nodejs.png" class="responsive-img">Node</div>
                <div class="flex-box"><img alt="" src="https://www.dnnsoftware.com/Portals/0/Blog/Files/3/3285/Windows-Live-Writer-Getting-Started-with-KnockoutJS_727D-logo_2.png" class="responsive-img">Knockout</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
