<section id="skills" class="section">
  <h3 class="page-title white-text teal">
    Skills & Offer
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card" *ngFor="let stack of skills">
          <div class="card-content">
            <h4 class="brown-text light">{{stack.Key}}</h4>
            <div class="d-flex flex-row flex-wrap text-center">
              <div class="flex-box" *ngFor="let skill of stack.Values"><img alt="" [src]="skill.URL" class="responsive-img">{{skill.Description}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
