<!-- #Left Sidebar ==================== -->
<div class="sidebar d-md-block d-lg-block d-xl-block">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
        <!-- <div class="logo" *ngIf="showLogo">
            <img src="favicon.ico" alt="">
          </div> -->
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="index.html">
              <h1>Anjana Wijesooriya
                <span class="brown-text light">Full Stack Developer</span>
              </h1>

          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle" >
            <a href="#" class="td-n" (click)="onHideNavbar()">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30 active">
        <a class="sidebar-link" routerLink="/">
          <span class="icon-holder">
            <i class="c-blue-500 ti-home"></i>
          </span>
          <span class="title">Summery</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/about">
          <span class="icon-holder">
            <i class="c-brown-500 ti-email"></i>
          </span>
          <span class="title">About</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/experience">
          <span class="icon-holder">
            <i class="c-blue-500 ti-share"></i>
          </span>
          <span class="title">Experience</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/projects">
          <span class="icon-holder">
            <i class="c-deep-orange-500 ti-calendar"></i>
          </span>
          <span class="title">Projects</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/skills">
          <span class="icon-holder">
            <i class="c-deep-purple-500 ti-comment-alt"></i>
          </span>
          <span class="title">Skills</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/awards">
          <span class="icon-holder">
            <i class="c-indigo-500 ti-bar-chart"></i>
          </span>
          <span class="title">Awards</span>
        </a>
      </li>
      <li class="nav-item">
        <a class='sidebar-link' routerLink="/education">
          <span class="icon-holder">
            <i class="c-light-blue-500 ti-pencil"></i>
          </span>
          <span class="title">Education</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="sidebar-link" routerLink="/contact">
          <span class="icon-holder">
              <i class="c-pink-500 ti-palette"></i>
            </span>
          <span class="title">Contact</span>
        </a>
      </li>
      <li class="nav-item dropdown">
          <a class="sidebar-link" href="https://anjana-resume.firebaseapp.com/" target="_blank">
            <span class="icon-holder">
                <i class="c-pink-500 ti-palette"></i>
              </span>
            <span class="title">Resume</span>
          </a>
        </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="c-orange-500 ti-layout-list-thumb"></i>
          </span>
          <span class="title">Tables</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class='sidebar-link' href="basic-table.html">Basic Table</a>
          </li>
          <li>
            <a class='sidebar-link' href="datatable.html">Data Table</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
              <i class="c-purple-500 ti-map"></i>
            </span>
          <span class="title">Maps</span>
          <span class="arrow">
              <i class="ti-angle-right"></i>
            </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="google-maps.html">Google Map</a>
          </li>
          <li>
            <a href="vector-maps.html">Vector Map</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
              <i class="c-red-500 ti-files"></i>
            </span>
          <span class="title">Pages</span>
          <span class="arrow">
              <i class="ti-angle-right"></i>
            </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class='sidebar-link' href="blank.html">Blank</a>
          </li>
          <li>
            <a class='sidebar-link' href="404.html">404</a>
          </li>
          <li>
            <a class='sidebar-link' href="500.html">500</a>
          </li>
          <li>
            <a class='sidebar-link' href="signin.html">Sign In</a>
          </li>
          <li>
            <a class='sidebar-link' href="signup.html">Sign Up</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="c-teal-500 ti-view-list-alt"></i>
          </span>
          <span class="title">Multiple Levels</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown">
            <a href="javascript:void(0);">
              <span>Menu Item</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0);">
              <span>Menu Item</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:void(0);">Menu Item</a>
              </li>
              <li>
                <a href="javascript:void(0);">Menu Item</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
